@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #111827;
  --primary: #0F2A44;
  --accent-1: #1677ff;
  --accent-2: #FF8A3D;
  --neutral: #F8FAFC;
  --border: #f1f5f9;
  --sidebar-bg: #FFFFFF;
  --chat-bg: #eaeaea;
}

[data-theme='dark'],
.dark {
  --background: #141414;
  --foreground: #ffffff;
  --primary: #1e293b;
  --accent-1: #3b82f6;
  --accent-2: #f97316;
  --neutral: #18181b;
  --border: #27272a;
  --sidebar-bg: #141414;
  --chat-bg: #212121;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent-1: var(--accent-1);
  --color-accent-2: var(--accent-2);
  --color-neutral: var(--neutral);
  --color-border: var(--border);
  --color-sidebar: var(--sidebar-bg);
  --color-chat-bg: var(--chat-bg);
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.ant-modal-mask {
  backdrop-filter: blur(4px) !important;
}